[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
pylint = "*"
codecov = "*"

[packages]
pytest-cov = "*"
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
